
{{strategy.ticker}} |  {{strategy.spot}} | {{  strategy.name}} | ATM : {{strategy.atmStrike}}


<table style="font-size:10px" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
            <th>Expiry</th>
            <th>B/S</th>
            <th>QTY</th>
            <th>Strike</th>
            <th>CallPut</th>            
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of strategy.legs">
                <td>{{row.option.expiry}}</td>
                <td>{{row.isShort ? 'SELL' : 'BUY'}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.option.strike}}</td>
                <td>{{row.option.isCall ? 'CALL' : 'PUT'}}</td>
                <td>{{(row.option.bid +  row.option.ask)/2 | number : '1.2-2' }}</td>
            </tr>
        </tbody>
    <tfoot>
    <tr>
      <td colspan="5">Total</td>
      <td>{{strategy.totalPrice | number : '1.2-2' }}</td>
    </tr>
  </tfoot>
    </table>