 
<div class="row">
  <div class="col-md-2 col-sm-2">
    <div class="input-group input-group-sm">
  <span class="input-group-addon" id="search">Search</span>
  <input type="text" class="form-control" placeholder="Ticker" [(ngModel)]="ticker" (keyup.enter)="searchTicker()">
    </div>
  </div>

<div class="col-md-2 col-sm-3">
  <div class="input-group input-group-sm">
  <span class="input-group-addon" id="expiry">Expiration</span>
  <select name="theme" class="form-control" [(ngModel)]="selectedExpiry" (ngModelChange)="expirySelected($event)" style="width: 130px">
        <option *ngFor="let expiry of expirations" [ngValue]="expiry">{{expiry | date : 'dd MMM yyyy' }}</option>
      </select>
    </div>
  </div>


<div class="col-md-2 col-sm-2">
<button class="btn btn-primary btn-sm" (click)="addStrategy()">Add Strategy</button>
</div>
</div>

<div class="row">
<div class="col-md-3 col-sm-3" *ngIf="optionChain">
  {{optionChain.ticker}} |   {{optionChain.spot}} |  {{optionChain.timestamp | date : 'MMM dd hh:mm:ss'}}
</div>
</div>
<br>

<div class="row">
  <div class="col-md-6 col-sm-12"> 
    <div>
    <ag-grid-angular #agGrid style="width: 610px; height: 460px;" class="ag-fresh"
                 [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>

  </div>

  <div class="col-md-6 pre-scrollable">
       <app-option-widget  *ngFor="let s of strategies" [strategy]="s"></app-option-widget>
      <br>
  </div>
</div>

