 
<div class="row">
  <div class="col-md-2 col-sm-2">
    <div class="input-group input-group-sm">
  <span class="input-group-addon" id="search">Search</span>
  <input type="text" class="form-control" placeholder="Ticker" [(ngModel)]="ticker" (keyup.enter)="searchTicker()">
    </div>
  </div>

<div class="col-md-3 col-sm-3">
  {{optionChain.ticker}} |   {{spot}} |  {{asOfDate | date : 'MMM dd hh:mm:ss'}}
</div>

<div class="col-md-3 col-sm-2">
    <div class="input-group input-group-sm">
  <span class="input-group-addon" id="expiry">Expiration</span>
  <select name="theme" class="form-control" [(ngModel)]="selectedExpiry" (ngModelChange)="expirySelected($event)" style="width: 130px">
        <option *ngFor="let expiry of expirations" [ngValue]="expiry">{{expiry  * 1000 | date : 'dd MMM yyyy' : 'UTC'}}</option>
      </select>
    </div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-6 col-sm-12"> 



    <div>
    <ag-grid-angular #agGrid style="width: 610px; height: 480px;" class="ag-fresh"
                 [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>

  </div>

  <div class="col-md-6">
      
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 col-sm-6">
      <app-option-widget title="x"></app-option-widget>
  </div>

  <div class="col-md-4 col-sm-6">
      <app-option-widget title="y"></app-option-widget>
  </div>

</div>